<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <style type="text/css">
    body {
      background-color: #F5F5DC;
      background-image:url('/images/leo-logo.jpg');
      font-weight: bold;
      font-family: 'arial';
      background-size:432px 900px;
    }

    .login-bar {
      text-align: center;
    }

    a {
      text-decoration: none;
    }

    .btn-login-bar,
    .btn-login-selected {
      width: 47.5%;
      height: 45px;
      font-weight: bold;
      border: 0px;
      font-size: 20px;
    }

    .btn-login-bar {
      background-color: #E1C16E;
      color: aliceblue;
    }

    .btn-login-selected {
      background-color: #F5F5DC;
      color: black;
    }

    .login-form {
      margin-top: 120px;
      text-align: center;
    }

    .text-input {
      width: 56%;
      height: 50px;
      border: 0px;
      margin-top: 34px;
      border-radius: 20px;
      background-color: aliceblue;
      font-weight: bold;
      font-size: 20px;

    }
    .num-input{
      width:45%;
      height: 45px;
      margin-top: 19px;
      border-radius: 19px;
      border: 0px;
      background-color:lightyellow;
      color:orange;
      font-size: 20px

    }
    
nav{
    display: flex;

}
nav.div{
   width:50%;
  
}


    .btn-login-form {
      width: 56.7%;
      height: 49px;
      margin-top: 25px;
      background-color: #E1C16E;
      border-radius: 20px;
      color: aliceblue;
      font-weight: bold;
      font-size: 20px;
    }
  </style>
</head>

<body>
  <%if(page=='regist-form'){%>
  <div class="login-bar">
    <a href="/login-page-open">
      <button class="btn-login-bar">login</button>
    </a>
    <a href="/register-page">
      <button class="btn-login-selected">daftar</button>
    </a>
  </div>
  <form  id="register-form" class="login-form">
    <h1 id="error-messeage" style="color:red;background-color: aliceblue;"></h1>
    <input type="text" id="email-input" name="email_input" placeholder="email" class="text-input"><br>
    <input type="text" id="password-input" name="password_input" placeholder="password" class="text-input"><br>
     
        <input type="date" class="num-input" id="date-input" name="ttg_lahir" placeholder="tanggal lahir">

        <input type="text" class="num-input" name="hobby" placeholder="hobi"><br>
      
    <button onclick="check_validationRegistered(
      {
        email:document.getElementById('email-input'),
        password:document.getElementById('password-input'),
        ttg_lahir:document.getElementById('date-input'),
        hobby:document.getElementById('hobby')
      },
      {
        form:document.getElementById('register-form'),
        error:document.getElementById('error-messeage')
      }
    )" class="btn-login-form">daftar</button>
  </form>
 

  <%}else if(page=='register-error'){%>
    <div class="login-form">
    <h1 style="color:red;background-color:aliceblue;"><%=error_messeage%></h1>
     <a href="/register-page">
      <button class="text-input"><%=input%></button>
     </a>


    </div>


  <%}else if(page=='login-form'){%>
  <div class="login-bar">
    <a href="/login-page-open">
      <button class="btn-login-selected">login</button>
    </a>
    <a href="/register-page">
      <button class="btn-login-bar">daftar</button>
    </a>
  </div>
 
<form id="form-login-validation" class="login-form">
  <h1 id="error-messeage" style="color:red;background-color:aliceblue"></h1>
 <input type="text" id="email-input" name="email_input" placeholder="email" class="text-input"><br>
 <input type="password" class="text-input" id="password-input" name="password_input" placeholder="password"><br>
<button onclick="validation_loginData(
  {
    email:document.getElementById('email-input'),
    password:document.getElementById('password-input')
  },
  {
    form:document.getElementById('form-login-validation'),
    error:document.getElementById('error-messeage')
  }
)" class="btn-login-form">masuk</button>
</form>


  <%}else if(page=='validation-login-error'){%>
    <div class="login-form">
     <h1 style="color:red;background-color: aliceblue;"><%=error_messeage%></h1>

      <a href="/login-page-open">
        <button class="text-input" style="background-color: lightgoldenrodyellow;color:red"><%=input%></button>
      </a>
    </div>
  
    <%}%>
  

  <script>
   
//register form
function check_validationRegistered(input,output){
  if(input.email.value==""){
    output.error.innerHTML='email  janagn kossong !!!'
    
  }
  else if(input.email.value==""){
    output.error.innerHTML="password jangan kosong !!!"
  }
  else if(input.ttg_lahir.value==""){
    output.error.innerHTML="tanggal lahir  tidak boleh kosong"
  }

  else{
    output.form.setAttribute('method','post')
    output.form.setAttribute('action','/create-account')
  }


}


//login form//

function validation_loginData(input,output){
  if(input.email.value==""){
    output.error.innerHTML='email harus di isi'
  }
  else if(input.password.value==""){
    output.error.innerHTML='password harus diisi'
  }
  else {
     output.form.setAttribute('method','post')
     output.form.setAttribute('action','/get-account-data')
  }
}





  </script>

</body>
</html>